exp_name: EDSR_x2_DIV2K_CML_(0-8)_0.065*L2_(L1+0.065*L2)_(8,8)_weight
model: EDSR
manual_seed: 10

n_GPUs: 1
scale: 2

total_iter: 200
val_freq: 5
save_freq: 5
recoder_freq: 5

test_only: false

n_colors: 3

rgb_range: 255.

self_ensemble: false

dir_data: ../dataset

cpu: ~

data_train: 'DIV2K'
data_range: '1-800/801-810'

data_test: ['Set5', 'Set14', 'B100', 'Urban100']

save_dir: ../experiment

ext: sep

patch_size: 96

n_threads: 6
batch_size: 16

no_augment: ~

precision: 'single'

# network structures
network_g:
  n_colors: 3
  n_feats: 64
  n_resblocks: 16
  upscale: 2
  res_scale: 1
  rgb_range: 255.
  rgb_mean: [0.4488, 0.4371, 0.4040]

# training settings
optim_args:
  optimizer: ADAM
  lr: !!float 1e-4
  weight_decay: 0
  epsilon: !!float 1e-8
  betas: [0.9, 0.99]

  milestones: [200000]
  gamma: 0.5

  # losses
losses:
  - type: CML
    loss_weight: 1.0
    params:
        win_size: !!python/tuple [8, 8]
        stride: !!python/tuple [8, 8]

metrics:
  - name: psnr
    type: calculate_psnr
    params:
        crop_border: 2
    better: higher

  - name: ssim
    type: calculate_ssim
    params:
        crop_border: 2
    better: higher

  - name: niqe
    type: calculate_niqe
    params:
        crop_border: 2
    better: lower

  - name: lpips
    type: calculate_lpips
    params:
        crop_border: 2
    better: lower

