.ipynb_checkpoints/
*/.ipynb_checkpoints/*

*.ipynb.out
.jupyter/
.jupyterlab/

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv/
conda_env/

*.csv
*.xlsx
*.npy
*.pkl
*.h5
*.jsonl

*.log

.DS_Store

Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo

*.tmp
*.bak
.cache/

configs/*
